.ScrollToTop {
    /*position: absolute;*/
    bottom: 20px;
    right: 20px;
    font-size: 45px;
    max-width: var(--max-width);
    margin-left: auto;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(--brand-color-yellow);
        text-decoration: none;
    }
}