.logo {
    width: min(500px, 80vw);
    height: min(500px, 80vw);
    margin: auto;
    padding: calc(var(--v-gap) * 2);

    img {
        width: 100%;
        height: 100%;
    }
}

.grid {
    display: grid;
    gap: var(--h-gap) var(--v-gap);
    padding: var(--v-gap);
    grid-template-columns: 1fr;

    @media (width >= 768px) {
        grid-template-columns: 500px 1fr;
    }
}

.banner {
    min-height: 60vh !important;
}

.contributors {
    display: grid;
    gap: var(--h-gap) var(--v-gap);
    padding: var(--v-gap);
    margin: calc(var(--h-gap) * 10) 0;
    grid-template-columns: 1fr;
    row-gap: calc(var(--v-gap) * 2);

    @media (width >= 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.contributor {
    p {
        color: var(--brand-color-gray);
        font-size: 20px;
        text-transform: capitalize;
    }
}

.farewell {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--v-gap) * 5);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: var(--v-gap);
    /*max-width: 600px;*/

    svg {
        /*fill: var(--brand-color-gray);*/
    }
}

.farewellText {
    /*text-align: justify-all;*/
    font-size: 25px;
    color: var(--brand-color-gray);
}