.section {
    padding: calc(var(--v-gap-l) * 2) var(--h-gap-l);
    padding-bottom: calc(var(--v-gap-l) * 10);
    scroll-snap-align: start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: calc(1 * var(--v-gap));
    margin-bottom: calc(2 * var(--v-gap-l));
}
