.section {
    padding: 0 var(--h-gap-l);
    scroll-snap-align: start;
}

.section li {
    list-style: unset;
}

.tags {
    margin-bottom: var(--v-gap-l);
    display: flex;
    flex-wrap: wrap;
    gap: var(--h-gap) var(--v-gap);
}