body {
    background-color: var(--color-bg);
    min-height: 100vh;
    position: relative;
}

.main-content {
    margin: auto;
    padding-bottom: 20px;
    max-width: var(--max-width);
}

main {
    min-height: 100vh;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover:not([aria-disabled="true"]) {
    text-decoration: none;
}

html {
    /*scroll-snap-type: y mandatory;*/
}

li {
    list-style: none;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}

::view-transition-old(image),
::view-transition-new(image) {
    animation-duration: 0.2s;
}

code {
    font-size: 18px;
    border-radius: 4px;
    padding: var(--v-gap) var(--h-gap);
}
