:root {
    --scrollbar-width: calc(100vw - 100%);
}

body {
    background-color: var(--color-bg);
    min-height: 100vh;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.main-content {
    margin: auto;
    max-width: var(--max-width);
    animation-timeline: scroll();
}

main {
    min-height: 100vh;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover:not([aria-disabled="true"]) {
    text-decoration: none;
}

html {
    /*scroll-snap-type: y mandatory;*/
}

li {
    list-style: none;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}

::view-transition-old(image),
::view-transition-new(image) {
    animation-duration: 0.2s;
}

pre {
    width: 100%;
}

code {
    font-size: 18px;
    border-radius: 4px;
    padding: var(--v-gap) var(--h-gap);

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

/* For WebKit browsers like Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px; /* Custom width */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
}

::-webkit-scrollbar-thumb {
    background: var(--brand-color-yellow); /* Semi-transparent scrollbar */
    border-radius: 4px;
}

/* Firefox Custom Scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--brand-color-yellow) transparent;
}