:root {
    --cool-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-wiggle: cubic-bezier(0.74, -0.6, 0.225, 1.59);

    --max-width: 1400px;

    --color-text: #eeeeee;
    --color-bg: #121212;

    --brand-color-red: #ff5757;
    --brand-color-yellow: #ffde59;
    --brand-color-green: #7ed957;
    --brand-color-gray: #797979;
    --brand-color-blue: #03989e;

    --border-radius: 2px;
    --anim-duration: 0.2s;

    --h-gap: 20px;
    --h-gap-l: 20px;
    --v-gap: 20px;
    --v-gap-l: 20px;

    @media (width >= 768px) {
        --h-gap: 20px;
        --v-gap: 20px;
    }
}
