.BgGrid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: -100;
    overflow: hidden;
}

.grid {
    max-width: var(--max-width);
    display: grid;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.row {
    height: 100%;
}

.row, .lastRow{
    width: 4px;
    border: none;
    background: repeating-linear-gradient(
            to bottom,
            var(--color-text)  0px, var(--color-text) 10px,
            transparent 5px, transparent 70px
    );
    opacity: 0.05;
    transition: width 0.5s ease;
}

.lastRow{
    position: absolute;
    right: 0;
    height: 100%;
}

.heavy {
    width: 6px;
    border: none;
    background: repeating-linear-gradient(
            to bottom,
            var(--color-text)  0px, var(--color-text) 10px,
            transparent 5px, transparent 70px
    );
    opacity: 1;
}

.bg {
    position: absolute;
    top: -100px;
    left: 0;
    width: 220vw;
    transform: rotateZ(-8deg) scale(1.5) translateX(-50%);
    background-color: #161719;
    height: calc(100vh + 400px);

    @media (width >= 768px) {
        height: calc(100vh - 100px);
    }
}