.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image {
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center center;
    width: 100%;
    transition: filter 0.2s;
    filter: grayscale(100%);
    height: 200px;
}

.image:hover {
    filter: grayscale(0%);
}

.details {
    display: flex;
    flex-direction: column;
    gap: var(--v-gap);
}

.description {
    line-height: 1.2;
}

.title {
    color: var(--brand-color-red);
    font-size: 25px;
    line-height: 1.2;
    transition: color var(--anim-duration) var(--cool-easing);
}

.title:hover {
    color: var(--brand-color-yellow);
}

.time {
    @media (width >= 768px) {
        text-align: right;
    }
}
