.bouncing {
    path {
        transform-origin: 50% 50%;
        transform-box: fill-box;
        transform: scale(1);
        opacity: 0.8;
    }

    .path5 {
        animation: pulse 1s var(--ease-bouncy) 0s infinite;
    }

    .path4 {
        animation: pulse 1s var(--ease-bouncy)0.07s infinite;
    }

    .path3 {
        animation: pulse 1s var(--ease-bouncy) 0.14s infinite;
    }

    .path2 {
        animation: pulse 1s var(--ease-bouncy) 0.21s infinite;
    }

    .path1 {
        animation: pulse 1s var(--ease-bouncy) 0.28s infinite;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.smallLogo {
    margin-left: var(--h-gap);
}

.smallAnimated {
    margin-left: var(--h-gap);
    animation: rotateEnter 1s var(--ease-mini-bounce) 1s forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: scale(0);
    opacity: 0.8;
}

@keyframes rotateEnter {
    0% {
        transform: scale(0) rotate(340deg);
    }
    80% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}