.header {
    padding: 2em 0;
    max-width: var(--max-width);
    margin: 0 auto;
}

.siteTitle {
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}