.header {
    padding: 2em 0;
    max-width: var(--max-width);
    margin: 0 auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    scroll-snap-align: center;
}

.siteTitle {
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        align-items: flex-start;
        flex-direction: column;
    }
}

.links {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
        align-items: flex-start;
        flex-direction: column;
    }
}
