.searchInput {
    border: 1px solid var(--brand-color-yellow);
    border-radius: calc(var(--border-radius));
    color: var(--color-text);
    transition: border-color var(--anim-duration) var(--cool-easing), width var(--anim-duration) var(--cool-easing);
    margin: auto auto var(--v-gap);
    display: block;
    width: 100%;
    font-size: 18px;
    padding: var(--v-gap) calc(var(--h-gap) * 2);
    background-color: var(--color-bg);
    max-width: 1200px;
}

.searchInput:focus {
    border-color: var(--brand-color-yellow);
    outline: none;
}

.resultsDialog {
    margin: 0 auto;
    width: 100vw;
    outline: none;
    border: none;
    padding: calc(var(--v-gap-l) * 4) 0;
    background: transparent;
}

.resultsDialog::backdrop {
    backdrop-filter: blur(5px);
}

.results {
    max-width: 1200px;
    margin: auto;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    border: 1px solid var(--brand-color-yellow);
    padding: calc(var(--v-gap) / 2) var(--h-gap);
}

.searchBtn {
    background: transparent;
    border: none;
    font-size: 25px;
    padding: calc(var(--v-gap) / 2) var(--h-gap);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: var(--color-text);
        transition: fill var(--anim-duration) var(--cool-easing);
    }
}

.searchBtn:hover {
    cursor: pointer;

    svg {
        fill: var(--brand-color-yellow);
    }
}

.searchBtn:active {
    outline: none;
}

.searchBtn:focus {
    outline: none;
}

.result {
    padding: var(--v-gap) var(--h-gap);
    font-size: 18px;
    color: var(--color-text);
    transition: background-color var(--anim-duration) var(--cool-easing), color var(--anim-duration) var(--cool-easing);
    border-radius: var(--border-radius);

    em {
        transition: background-color var(--anim-duration) var(--cool-easing), color var(--anim-duration) var(--cool-easing);
        color: var(--color-bg);
        background-color: var(--brand-color-yellow);
    }
}

.separator {
    border: none;
    border-bottom: 1px solid var(--brand-color-yellow);
    width: 100%;
    margin: var(--h-gap) 0;
}

.result:hover {
    background: var(--brand-color-yellow);
    color: var(--color-bg);
    cursor: pointer;

    em {
        color: var(--brand-color-yellow);
        background-color: var(--color-bg);
    }
}

.resultContent {
    font-size: 16px;
    max-height: 105px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}


.noResults {
    font-size: 38px;
    color: var(--color-text);
    text-align: center;
    padding: var(--v-gap) var(--h-gap);
}

/*Animations*/
dialog {
    opacity: 0;
    transform: scale(0);
    transition: opacity var(--anim-duration) var(--cool-easing),
    transform var(--anim-duration) var(--cool-easing),
    overlay var(--anim-duration) var(--cool-easing) allow-discrete,
    display var(--anim-duration) var(--cool-easing) allow-discrete;
}

dialog[open] {
    opacity: 1;
    transform: scaleY(1);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition: display var(--anim-duration) var(--cool-easing) allow-discrete,
    overlay var(--anim-duration) var(--cool-easing) allow-discrete,
    background-color var(--anim-duration) var(--cool-easing);
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
}

@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scale(0);
    }

    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }
}