.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-snap-align: center;
    padding: var(--v-gap) var(--h-gap);
    position: relative;
}

.title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
    max-width: 800px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

.description {
    max-width: 800px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.5;
}
